
<div class="col-md-10 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <% if @jobs.blank? %>
          <br>
          <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
        <% else %>
          <h2 class="search-info-title text-center"> <img src="http://ww3.sinaimg.cn/large/006tNc79ly1ff1clibr6bj308d08cwfw.jpg" height="30" width="30"> 有关"<%= @query_string %>"的工作信息 </h2>
    </div>
        <div class="panel-body">
          <div class="search-result">
            <div class="job-table">
              <% @jobs.each do |job| %>
                <div class="row jobs-show">
                  <div class="col-md-12 col-lg-9 col-lg-offset-1">
                    <div class="pull-right">
                      发布时间：<%= job.created_at.to_date %>
                    </div>
                    <p ><%= link_to(render_highlight_content(job,@query_string),job_path(job)) %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
            <div class="text-center">
              <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
            </div>
      <% end %>
    </div>
  </div>
</div>
