<div class="col-md-10 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="name text-center"><img src="http://ww3.sinaimg.cn/large/006tNc79ly1ff1clibr6bj308d08cwfw.jpg" height="30" width="30">
        <%= @job.title %>
      </h3>
    </div>

    <div class="panel-body">
      <p>
        <%= simple_format(@job.description) %>
      </p>
    </div>
  </div>
    <div class="text-center">
      <%= link_to("提交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
    </div>
</div>
