<div class="col-md-10 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="name text-center">
      <img class="img-responsive lonelyreader" src="http://ww3.sinaimg.cn/large/006tNc79ly1ff1clibr6bj308d08cwfw.jpg" height="150" width="150">
        孤独的阅读者<br>
        VERITAS VOS LIBERABIT </h1>
      </div>
      <div class="panel-body">
         <p>“孤独的阅读者”是一个渴望时代英雄的理想</p>
         <p>由“船长”带着世间少数誓死相随地勇士在蛮荒的世界中走出的一条启蒙之路</P>
         <p>它现已逐渐状大，已有数千勇士登船，开启了他们的燎原之旅</p>
         <p>在这里，我们一起用简单粗暴的方式读西方原版历史、哲学、社会学、美学</P>
         <p>在这里，彻底打通了“知识”、“思辨”、“语言”三个维度</P>
         <p>在这里，终将能让自己拥有与华莱士谈笑风生的能力</P>
         <P>在这里，不仅是“顺手灭英语”，还可能是“德语”、“法语”、“西班牙语”</P>
         <p>如若你问考试方法或者英语语法，这里没有答案</P>
         <P>这里是勇敢者的天堂，不收弱者</P>
         <p>一切从这里开始启航</p>
         <p><a target="_blank" href="http://t.cn/RXo0uZN">那六个孤独的故事</a></P>
         <p><a target="_blank" href="http://t.cn/RXnGXtu">只一生</a></P>
         <p><a target="_blank" href="http://t.cn/RXnG0P8">人文于我，功用几何</a></P>
         <p><a target="_blank" href="http://t.cn/RXnGE6J">终极三问</a></P>
         <p><a target="_blank" href="http://t.cn/RXnGgSk">知本主义</a></P>
         <p><a target="_blank" href="http://t.cn/RXnqz3I">宏大理想的捍卫者</a></P>
         <p><a target="_blank" href="http://t.cn/RXnqxD4">自由没有你想象的那么自由</a></P>
      </div>
    </div>
  </div>
