/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);


/* Nav / Navbar Styles
===================================*/
.navbar-brand > img {
      display: inline-block; //图片和链接文字显示在同一行
      margin-right: 10px; //图片和链接文字拉开一点距离
      width: 32px; //定制图片宽度
      height: 32px; //定制图片高度
 }

.navbar {
	background: transparent;
//	background-color: rgba(0,0,0,0.5);
	border-bottom: none;
	padding: 0px 0 10px;
	transition-duration: 0.6s;
//	transition: background-color .5s ease 0s;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.navbar-default .navbar-brand {
	color: #760000;
}
.navbar-default .navbar-nav>li>a {
	color: #760000;
//	color: #FFA726;
	font-weight: bold;
	font-size: 18px;
}
.navbar-default .navbar-nav>li {
	margin-right: 8px;
}
.navbar-default .navbar-nav>li:last-of-type {
	margin-right: 0;
}
.dropdown-menu,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background: rgba(24,53,50, 0.2);
//	color: #FFA726;
	font-weight: bold;
	font-size: 18px;
}
.dropdown-menu {
	padding: 8px;
	box-shadow: none;
	border: none;
//	color: #FFA726;
}

.dropdown-menu li>a:hover {
	background-color: #BDBDBD;
}
.dropdown-menu li a {
	padding: 4px 8px;
	border-radius: 6px;
//	color: #FFA726;
}

.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
//	color: #FFA726;
}
.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  color: #FF6700;
background-color: #FFA726;
}


/* jQuery Styles
===================================*/
.navbar-scroll {
	background: #ffffff;
	color: #263238;
	padding: 0;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}


  //---------Box---------

  .box {
      background-image: url("http://ww4.sinaimg.cn/large/006tNc79ly1feulbhet8fj31kw185b2a.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;

      .box-inner {
          background-color: transparent;
          padding-bottom: 5px;
          margin-top: 150px;
          margin-bottom: 150px;
      }

      .title {
        font-family: "GungSeo", "Microsoft Yahei", 微软雅黑;
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
        color: #ffffff;
      }

      .subtitle {
        font-family: "songti TC", "Microsoft Yahei", 微软雅黑;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
        color: #ffffff;

      }

      .slogan {
          color: #222;
          margin-top: 10px;
          margin-bottom: 50px;
          text-align: center;
          font-size: 25px;
          top: 12px;
          color: #ffffff;
      }

      .lead {
          margin-bottom: 60px;
          text-align: center;
          color: white;
      }
  }

  //---------Content---------

  .content-section-a {
      padding: 50px 0;
      background-color: #f8f8f8;
  }

  .content-section-b {

      padding: 50px 0;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
      background-color: #dbdcdd;

  }

  .section-heading-spacer {
      float: center;
      width: 200px;
      border-top: 3px solid #e7e7e7;
  }

  .section-heading {
      margin-bottom: 30px;
      text-align: center;
      color: #760000;
  }

  .lead {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
  }

  .description {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  .caption {
    size: 18px;
  }

  .thumbnail {
    text-align: center;
  }

  //-----不及格----

  .custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

  //---------Footer---------

  footer {
      color: white;
  }

  footer .footer-below {
    position: absolute;
    down: 0;
    left: 0;
    right: 0;
      padding: 25px 0;
      background-color: #233140;
  }

  html { height: 100%;}
  body { min-height: 90%; display: flex; flex-direction: column;}
  .content { flex: 1;}

  .jobshow {
    margin-top: 100px;
  }

  .about {
    margin-top: 100px;
  }
